*{
    padding: 0;
    margin: 10;
}

#scorebox{
    width: 150px;
    height: 40px;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 1100px;
    border-style: solid;
    border-color: black;
    border-width: thin;
    text-align: center;
    
}
#score{
    position: absolute;
    left:50%;
    top: 50%;
    width: 150px;
    height: 40px;
    content:"Score:0";
}
#game{
    width: 1000px;
    height: 650px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}
#enemy{
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 200px;
    left: 400px;
    border-radius: 30%;
    /* animation: enemy 2s infinite linear; */
}

@keyframes enemy{
    0%{left:400px}
    100%{left:-50px}
}
#character{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    left: 500px;
    top: 400px;
    border-radius: 30%;
}

#coin{
    width: 10px;
    height: 10px;
    background-color: gold;
    position: relative;
    left: 105px;
    top: 245px;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: thin;
    
}